<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767065730345-offivjdomv6opaf2lij5o5u68rqdsgu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767065730345-offivjdomv6opaf2lij5o5u68rqdsgu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAwqgekxDTSKucX84v9DVJcdMyGunawtRY</string>
	<key>GCM_SENDER_ID</key>
	<string>767065730345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.favor.app</string>
	<key>PROJECT_ID</key>
	<string>favor-appp</string>
	<key>STORAGE_BUCKET</key>
	<string>favor-appp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767065730345:ios:4d88ff306ea69051b3db38</string>
</dict>
</plist>